{% extends "base.html" %}

{% block title %}A sip from the Flask - {{ title }}{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/prism/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/prism/themes/prism-coy.css') }}">
<style>textarea { display: none; }</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>
      <a href="/">A sip from the Flask</a>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ title }}</h2>
      <h3>{{ code_file }}</h3>
      <pre class="language-python"><code>{{ code }}</code></pre>
      {% if template %}
      <h3>{{ template_file }}</h3>
      <pre class="language-markup"><code>{{ template }}</code></pre>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>Output</h2>
      {% if container %}
      <div class="list-group">
        <div class="list-group-item">
          <form id="container-form" target="container" action="get">
          <div class="row">
            <div class="col-md-10">
              <input class="form-control" type="text" value="{{ container_url }}" size="40">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-default btn-sm btn-block">
                Go
              </button>
            </div>
          </div>
          </form>
        </div>
        <div class="list-group-item">
          <iframe name="container" src="{{ container_url }}" frameborder=0" width="100%" height="320"></iframe>
        </div>
      </div>
      {% else %}
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Not yet running&hellip;</p>
          <form action="" method="post">
            <button type="submit" class="btn btn-primary">Run</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <hr>
  <ul class="pager">
    <li class="previous{{ " disabled" if not prev_url else "" }}">
      <a href="{{ prev_url or "#" }}">&larr; Prev</a>
    </li>
    <li class="next{{ " disabled" if not next_url else "" }}">
      <a href="{{ next_url or "#" }}">Next &rarr;</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='bower_components/prism/components/prism-core.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/prism/components/prism-python.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/prism/components/prism-markup.min.js') }}"></script>
<script>
  $('#container-form').submit(function() {
    var $form = $(this);
    $form.attr('action', $form.find('input[type=text]').val());
  });
</script>
{% endblock %}
